.marks__elem
  .mark__name(title= name)= name
  .mark__line
    if value > 0
      .mark__line-negative
      .mark__line-positive.active(data-value=value)
    else if value == 0
      .mark__line-negative
      .mark__line-positive(style="width:1px;background:#FFFF2A")
    else
      .mark__line-negative.active(data-value=value)
      .mark__line-positive
      
  .mark__value= value