.marks
    margin: 0 100px;

    &__elem
        margin: 5px 0;
        display: flex
        justify-content: flex-start

.mark
    &__line
        background: grey
        margin: 0 10px;
    
    &__name
        width: 70px
        text-overflow: ellipsis
        overflow: hidden
        cursor: default