doctype html
html(lang="uk")
  head
    title Голосування
  body
    .container
      header
        div
          img.logo(src="/images/logo.png" alt="logo")
        div
          a(href="/") Почати голосування
          a(href="/result") Переглянути результат
        
      block body

    footer
      | ©2019, IT-TRIBUS
      br
      | Колодний В.В, Мельник С.М
      br
      | Яцько А.А. 

    script(src="/static/scripts/main.js")