include ../components/logo/logo

doctype html
html(lang="uk")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Голосування
  body
    .container
      header
        a(href="/")
          +logo
        span.log-out.js-log-out Вийти
        
      block body

    footer
      | © CollExpertX, 2021
      br
      | Колодний В.В., Мельник С.М.

    script(src="/static/scripts/main.js")