include ../components/logo/logo

doctype html
html(lang="uk")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Голосування
  body
    .container
      header
        +logo  
        
      block body

    footer
      | © CollExpert5, 2020
      br
      | Колодний В.В., Мельник С.М.,
      br
      | Яцько А.А. 

    script(src="/static/scripts/main.js")