doctype html
html(lang="uk")
  head
    title Голосування
  body
    .container
      header
        div
          img.logo(src="/images/logo.png" alt="logo")
        div
          a(href="/") Почати голосування
          a(href="/result") Переглянути результат
        
      block body

    footer= "2019 Мельник С.М Яцько А.А. Колодний В.В"

    script(src="/static/scripts/main.js")