doctype html
html
  head
    title Голосування
  body
    .container
      header
        a(href="/") Голосувати
        a(href="/result") Результат
        
      block body

      script(src="/static/scripts/main.js")