.js-name.diagram__name
.js-diagram.diagram
    .diagram-block
        .diagram-block__value        
    .diagram-block
        .diagram-block__value            
    .diagram-block
        .diagram-block__value           
    .diagram-block
        .diagram-block__value            
    .diagram-block
        .diagram-block__value