mixin expert-name
    .js-form-expert-name.text-center
        label.label(for="expert-name") Ім'я експерта
        input(id="expert-name" class="form-expert-name__input js-form-expert-name-input")
        button(class="js-form-expert-name-button") OK