mixin form-experts
    .form-experts.text-center.js-form-experts
        label.label(for="experts-count") Кількість експертів
        input(id="experts-count" type="number" class="form-experts__input js-form-experts-input" value="2" min="1" max="100")
        button(class="js-form-experts-button") OK