.diagram.js-diagram
    .diagram__header
        .js-name.diagram__name
        select.js-diagram-types
    .diagram__body.js-diagram-body
        .js-diagram-block.diagram-block
            .diagram-block__value        
        .js-diagram-block.diagram-block
            .diagram-block__value            
        .js-diagram-block.diagram-block
            .diagram-block__value           
        .js-diagram-block.diagram-block
            .diagram-block__value            
        .js-diagram-block.diagram-block
            .diagram-block__value