@import './color.sass'
@import ./media.sass

.hidden 
    display: none

.label
    display: block
    font-size: 18px
    margin-bottom: 5px

.text-center
    text-align: center

.color
    &-1
        background-color: $dark-red
    &-2
        background-color: $red
    &-3
        background-color: $yellow
    &-4
        background-color: $green
    &-5
        background-color: $dark-green

.font-color
    &-5
        color: $dark-green

body
    background: #b3c8b1
    padding: 0 280px
    margin: 0
    

    +media-mobile
        padding: 0

html
    margin: 0
    font-family: Verdana, sant-serif

.container 
    background-color: #ffffff
    min-height: 93vh
    padding-bottom: 15px
    position: relative
    
header
    padding: 20px
    text-align: center
    font-size: 15px
    background-color: #4a8943 
    margin-bottom: 10px
    display: flex
    justify-content: space-around
    align-items: center

    div:last-child
        display: flex
        flex-direction: column
        align-items: flex-start

    a
        text-decoration: none
        color: inherit

.winner
    font-size: 20px
    text-align: center
    font-weight: 600
    margin-bottom: 20px
    word-break: break-word

footer
    text-align: left
    padding: 5px 40px
    background-color: #4a8943
    color: black
    height: 45px
    font-size: 12px

.h2
    text-align: center
    font-size: 16px
        

.image-container
    text-align: center
    img
        width: 60%
        
        +media-mobile
            width: 90%

.align-center
    +media-mobile
        align-self: center

.vote-list
    padding: 0 100px

    &__header
        display: flex
        justify-content: space-between
        margin-top: -10px
        padding: 10px 0
        background: lightgray
        position: relative
        
        &::before
            content: ''
            position: absolute
            top: 0
            height: 100%
            width: 100px
            left: -100px
            background: lightgray

        &::after
            content: ''
            position: absolute
            top: 0
            height: 100%
            width: 100px
            right: -100px
            background: lightgray

    &__item
        display: flex
        justify-content: space-between
        margin: 10px 0

    &__name
        vertical-align: middle
        flex: 1

    &__user-name
        flex: 1

    &__buttons
        display: flex
        flex: 0 370px
        justify-content: flex-start

        & > *
            margin: 0 10px

.log-out
    position: absolute
    right: 20px

    &:hover
        cursor: pointer
