mixin logo
    .logo
        .logo__title CollExpert5
        table.logo__table
            tr
                td.logo__table-cell.color-5
                td.logo__table-cell.color-4                            
                td.logo__table-cell.color-3
                td.logo__table-cell.color-2
                td.logo__table-cell.color-1
                td.logo__table-cell.color-2
                td.logo__table-cell.color-3
                td.logo__table-cell.color-4
                td.logo__table-cell.color-5
    