include ../form-experts/experts-name

mixin voting
    +expert-name
    .voting-expert-name.js-voting-expert-name.label
    form.voting.js-voting
        .voting-cards.js-voting-cards
        button(class="button voting-cards__button js-voting-button") Підтвердити