.voting
    padding: 0 20px;
    text-align: center;

    &-cards 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;    

    &__card 
        width: 200px;
        text-align: left;

    &-expert-name
        text-align: center;
        padding: 20px;
