.js-diagram-block.diagram-block
    .diagram-block__value        
.js-diagram-block.diagram-block
    .diagram-block__value            
.js-diagram-block.diagram-block
    .diagram-block__value           
.js-diagram-block.diagram-block
    .diagram-block__value            
.js-diagram-block.diagram-block
    .diagram-block__value