extends ../page-templates/base

include ../components/diagram/diagrams
include ../components/matrix/matrix

block body
    .winner.js-winner
    h2.h2.winner Результуюче ранжування альтернатив
    .js-marks.marks
    +diagram
    +matrix
    .buttons
        a(class="button", href="/") Почати нове голосування
        a(class="button", href="/result") Переглянути результати        