extends ../page-templates/base

include ../components/diagram/diagrams
include ../components/matrix/matrix

block body
    .winner.js-winner.font-color-5
    h2.h2.label Результати колективної експертизи
    .js-marks.marks
    +diagram
    +matrix
    .buttons(style="height:100px; justify-content:space-between; padding-top:0")
        a(class="button", style="align-self: center;", href="/vote/" + id) Новий експерт            
        a(class="button", href="/create") Нова експертиза

    script(id="data" type="application/json")!= JSON.stringify(data)