extends ../page-templates/base

include ../components/diagrams/diagrams
include ../components/matrix/matrix

block body
    h2.js-voting-name.h2.label.big-text
    h2.js-voting-data.h2.label
    h2.js-candidates-count.h2.label
    h2.js-experts-count.h2.label
    h2.winner.js-winner.h2.label
    .js-marks.marks
    +diagram
    +matrix
    .buttons(style="height:100px; justify-content:space-between; padding-top:0")       
        a.js-create-new-voting.align-center(class="button", href="/create") Нова експертиза

    script(id="data" type="application/json")!= JSON.stringify(vote)