extends ../page-templates/base

include ../components/form-candidates/form-candidates
include ../components/form-experts/form-experts
include ../components/voting/voting

block body
  +form-candidates
  +form-experts
  +voting
  