extends ../page-templates/base

include ../components/accordion/accordion

block body
    .h2.label(style="margin-bottom: 20px;") Комп'ютерна система колективної експертизи
    .image-container
        img(src="/images/business.jpg")

    +accordion('Дізнатись більше')
        p двалівоаоівдлоа ідвоадліво длаоіво адліво ідвлаодлівоалд ідлвад оівлдао лві

    .buttons.buttons--horizontical
        a.button(href="/create") Почати голосування
        a.button(href="/result") Переглянути результати
        