extends ../page-templates/base

include ../components/voting/voting
  
block body
    +voting(id)
    .navigate-buttons.js-navigate-buttons.buttons.buttons--horizontical
        a.button(href = '/result/'+id) Переглянути результат