extends ../page-templates/base

include ../components/voting/voting
  
block body
    +voting
    .navigate-buttons.js-navigate-buttons.buttons.buttons--horizontical
        a.button(href = '' onclick='javascript:window.location.reload(true)') Новий експерт
        a.button(href = '/result/' + id) Переглянути результат