mixin form-name
    form.form-name.js-form-name
        label.label(for="form-name") Назва експертизи
        input(id="form-name", type="text", name="form-name", class="js-form-name-value", maxlength="50")
        button(class="js-form-name-button") OK  