mixin form-candidates
    .form-candidates.js-form-candidates
        .form-candidates__count
            label.form-candidates__count-label.label(for="count-candidates") Кількість альтернатив (1-20):
            input.js-field-number(id="count-candidates", min="1", max="20", type="number", value="2")
            button.js-button OK
        form.form-candidates__name-list.js-name-list(id="form1")
        button.hidden.js-confirm-button(form="form1") Далі
        button.hidden.js-change-marks-button Змінити оцінки

        .mark-list.hidden.js-mark-list-container(id="form2")
            .mark-list__header
                div Назва
                div Значення
                div Колір
            .js-mark-list
            button.js-add-mark Додати оцінку
            button.js-delete-mark Видалити оцінку